# Descriptive Statistics 

Dataset: Ho Chi Minh City Development Joint Stock Commercial Bank (HDB)

### Step 1. Import modules

In [2]:
import numpy as np
import pandas as pd
import math
import statistics as st
import matplotlib.pyplot as plt 
import seaborn as sns
from scipy.stats import skew
from scipy.stats import kurtosis

### Step 2. Read the dataset

In [3]:
df_HDB = pd.read_csv('HDB.csv',delimiter=",")
df_HDB

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-03-01,11636.358398,11810.903320,11636.358398,11791.509766,11791.509766,2483764.0
1,2019-03-04,11791.509766,11869.084961,11713.933594,11791.509766,11791.509766,2797316.0
2,2019-03-05,11791.509766,11966.054688,11752.721680,11907.873047,11907.873047,3359297.0
3,2019-03-06,11927.266602,12024.236328,11830.296875,11907.873047,11907.873047,2993641.0
4,2019-03-07,11907.873047,11966.054688,11791.509766,11907.873047,11907.873047,4176666.0
...,...,...,...,...,...,...,...
1301,2024-02-26,22500.000000,22900.000000,22450.000000,22700.000000,22700.000000,6097500.0
1302,2024-02-27,22700.000000,23000.000000,22550.000000,22700.000000,22700.000000,7854600.0
1303,2024-02-28,22700.000000,23200.000000,22700.000000,23200.000000,23200.000000,7852001.0
1304,2024-02-29,23200.000000,23400.000000,23150.000000,23300.000000,23300.000000,6724000.0
1305,2024-03-01,23300.000000,23350.000000,22950.000000,23300.000000,23300.000000,6105501.0

### Step 3. Descriptive Statistics

In [12]:
# Convert the 'Date' column from object type to datetime
df_HDB['Date'] = pd.to_datetime(df_HDB['Date'])

In [13]:
# Data size
df_HDB.shape

(1306, 7)

In [14]:
# Determine the data types
df_HDB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1306 entries, 0 to 1305
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1306 non-null   datetime64[ns]
 1   Open       1245 non-null   float64
 2   High       1245 non-null   float64
 3   Low        1245 non-null   float64
 4   Close      1245 non-null   float64
 5   Adj Close  1245 non-null   float64
 6   Volume     1245 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 71.6 KB

In [15]:
# Describe the dataset
df_HDB.describe()

,Date,Open,High,Low,Close,Adj Close,Volume
count,1306,1245.000000,1245.000000,1245.000000,1245.000000,1245.000000,1.245000e+03
mean,2021-08-31 07:11:07.075038464,65326.640672,66075.816946,64590.724479,65386.555604,65386.555604,1.759896e+06
min,2019-03-01 00:00:00,37957.312500,38753.621094,37559.160156,37957.312500,37957.312500,3.044610e+05
25%,2020-06-01 06:00:00,56405.097656,56935.968750,55874.226563,56405.097656,56405.097656,1.053452e+06
50%,2021-08-31 12:00:00,64899.042969,65562.632813,64235.453125,64775.613281,64775.613281,1.464353e+06
75%,2022-11-30 18:00:00,72311.601563,73525.703125,71464.859375,72396.273438,72396.273438,2.107101e+06
max,2024-03-01 00:00:00,98500.000000,100500.000000,97300.000000,97400.000000,97400.000000,3.407681e+07
std,NaN,12598.819653,12674.750060,12475.907276,12601.057166,12601.057166,1.451529e+06